<h4>Add a volunteer:</h4>
<form action="/volunteers" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" name="name" class="form-control" type="text">
    <label for="project_id">Add project</label>
    <input id="project_id" name="project_id" class="form-control" type="number">
  </div>
  <button type="submit" class="btn">Add volunteer</button>
</form>

<a href="/volunteers">Return to homepage</a>
