<h4>Add a project:</h4>
<form action="/projects" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input id="title" name="title" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add project</button>
</form>

<a href="/projects">Return to homepage</a>
