<h4>Title: <%= @project.title %></h4>


<form class="" action="/project/<%= @project.id %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" name="button">Delete project</button>
</form>
<a href="/">Back to home</a>
